*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f7f7f7;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
    background:white;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#0f172a;
}

.logo span{
    color:#0ea5e9;
}

.menu{
    display:flex;
    list-style:none;
    gap:35px;
}

.menu a{
    text-decoration:none;
    color:#333;
    font-weight:600;
    transition:.3s;
}

.menu a:hover{
    color:#0ea5e9;
}

.btn{
    background:#0ea5e9;
    color:white;
    padding:12px 24px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#0284c7;
}
.hero{
    height:90vh;
    background:linear-gradient(rgba(15,23,42,.65),rgba(15,23,42,.65)),
    url("https://images.unsplash.com/photo-1560518883-ce09059eeffa?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content{
    color:white;
    width:80%;
}

.hero-content h1{
    font-size:64px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:22px;
    margin-bottom:40px;
    color:#f1f5f9;
}

.search-box{
    display:flex;
    justify-content:center;
    max-width:700px;
    margin:auto;
}

.search-box input{
    width:100%;
    padding:18px;
    border:none;
    font-size:18px;
    border-radius:10px 0 0 10px;
}

.search-box button{
    padding:18px 35px;
    border:none;
    background:#0ea5e9;
    color:white;
    font-size:18px;
    cursor:pointer;
    border-radius:0 10px 10px 0;
}

.search-box button:hover{
    background:#0284c7;
}
.stats{
    display:flex;
    justify-content:center;
    gap:50px;
    padding:70px 20px;
    background:white;
    flex-wrap:wrap;
}

.stat{
    text-align:center;
    min-width:180px;
}

.stat h2{
    font-size:45px;
    color:#0ea5e9;
}

.stat p{
    margin-top:10px;
    color:#666;
    font-size:18px;
}
.featured{

    padding:80px 10%;

    background:#f5f5f5;

}

.section-title{

    text-align:center;

    font-size:42px;

    margin-bottom:50px;

}

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(330px,1fr));

    gap:35px;

}

.card{

    background:white;

    border-radius:18px;

    overflow:hidden;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    transition:.35s;

}

.card:hover{

    transform:translateY(-10px);

}

.card img{

    width:100%;

    height:250px;

    object-fit:cover;

}

.card-body{

    padding:25px;

}

.sale{

    background:#16a34a;

    color:white;

    padding:6px 14px;

    border-radius:20px;

}

.rent{

    background:#2563eb;

    color:white;

    padding:6px 14px;

    border-radius:20px;

}

.card-body h3{

    margin-top:18px;

    font-size:28px;

}

.card-body p{

    margin:15px 0;

    color:#666;

}

.card-body h4{

    color:#0ea5e9;

    font-size:28px;

}

.card button{

    width:100%;

    margin-top:20px;

    padding:15px;

    background:#0ea5e9;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:18px;

}